<script language="JavaScript">
$(function(){
	$('#sl_min').change(function(){
		$form = $(this);
		$input_value = $('#sl_min').val();
		$('#sl_min_val').val($input_value);
	});

	$('#sl_max').change(function(){
		$form = $(this);
		$input_value = $('#sl_max').val();
		console.log($input_value);
		$('#sl_max_val').val($input_value);
	});

	$('#sl_min').change();
	$('#sl_max').change();
});
</script>
<div class="container">
<%= form_for([@cpoint,@cpmode]) do |f| %>
  <% if @cpmode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpmode.errors.count, "error") %> prohibited this cpmode from being saved:</h2>

      <ul>
      <% @cpmode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-lg-4">
		  <div class="field">
		    <%= f.label @cpoint.caption %><br>
		  </div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
		  <div class="field">
		    <%= f.label :date_reg %><br>
		    <%= f.date_select :date_reg, class:"form-control" %>
		  </div>
	  </div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
		  <div class="field">
		    <%= f.label :value_min %><br>
		    <%= f.number_field :value_min, id: "sl_min_val", in: 0..10, step: 0.1, class: "form-control" %>
		    <%= f.range_field :value_min, id: "sl_min", in: 0..10, step: 0.1, class:"slide"%>
		    </div>
	    </div>
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
		  <div class="field">
		    <%= f.label :value_max %><br>
		    <%= f.number_field :value_max, id: "sl_max_val", in: 1..11, step: 0.1,class: "form-control" %>
		    <%= f.range_field :value_max, id: "sl_max", in: 1..11, step: 0.1, class:"slide"%>
		  </div>
	  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
</div>
