<div class="page-header">
<div class="container" style="background:cyan">
<div class="row">
	<div class="col-xs-12 col-sm-8 col-lg-6">
<h2>Editing Cpmode for <%=@cpoint.caption%></h2>
</div>
<ul class="list-inline pull-right">
<li><%= link_to 'Show', cpoint_cpmode_path( @cpoint, @cpmode ), class: "btn btn-success" %> </li>
<li><%= link_to 'Back', cpoint_cpmodes_path(@cpoint), class: "btn btn-default" %></li>
</ul>
											 </div>
											 </div>
</div>

<%= render 'form' %>

