<div class="page-header">
<ul class="list-inline pull-right">
<li> <%= link_to 'New Cpmode', new_cpoint_cpmode_path, class: "btn btn-success" %></li>
<li> <%= link_to "Cpoint", cpoint_path( @cpoint ), class: "btn btn-default" %></li>
<li> <%= link_to "All cpoints", cpoints_path( anchor: 'scroll'), class: "btn btn-default" %></li>

</ul>

<h3><%= @cpoint.caption %></h3>
<h4>Modes</h4>
</div>

<% if notice %>
	<div class="alert alert-info">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>


<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Date reg</th>
      <th>Value min</th>
      <th>Value max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cpmodes.each do |cpmode| %>
      <tr>
        <td><%= cpmode.date_reg %></td>
        <td><%= cpmode.value_min %></td>
        <td><%= cpmode.value_max %></td>
        <td>
		<ul class="list-inline">
		<li><%= link_to 'Show', cpoint_cpmode_path( @cpoint, cpmode ), class: "btn btn-success" %></li>
		<li> <%= link_to 'Edit', edit_cpoint_cpmode_path(@cpoint, cpmode), class: "btn btn-warning" %></li>
        <li><%= link_to 'Destroy', [ @cpoint, cpmode ], method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%></li>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

