<% if notice %>
	<div class="alert alert-info">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>
<div class="page-header">
<div class="container" style="background:cyan">
<div class="row">
	<div class="col-xs-12 col-sm-8 col-lg-4">
	<h2>Control point mode</h2>
</div>
	<ul class="list-inline pull-right">
		<li><%= link_to 'Edit', edit_cpoint_cpmode_path(@cpoint, @cpmode), class: "btn btn-warning" %></li> 
		<li><%= link_to 'Back', cpoint_cpmodes_path(@cpoint), class: "btn btn-default" %></li>
											 </ul>
											 </div>
											 </div>
</div>
<div class="container" style="background:lightgrey">
<div class="row">
	<div class="col-xs-6" style="background:lightgreen">
	  <strong>Cpoint:</strong>
	  </div>
	  <div class="col-xs-6" style="background:white">
		  <%= @cpoint.caption %>
	  </div>
</div>

<div class="row">
	<div class="col-xs-6" style="background:aqua">
  <strong>Date reg:</strong>
	  </div>
	  <div class="col-xs-6" style="background:lightgrey">
  <%= @cpmode.date_reg %>
	  </div>
</div>

<div class="row">
	<div class="col-xs-6" style="background:aqua">
  <strong>Value range:</strong>
	  </div>
	  <div class="col-xs-6" style="font-weight: bold; background:lightgrey">
  <%= @cpmode.value_min %> -
  <%= @cpmode.value_max %>
	  </div>
</div>
</div>

