<%= form_for(@cpoint) do |f| %>
  <% if @cpoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpoint.errors.count, "error") %> prohibited this cpoint from being saved:</h2>

      <ul>
      <% @cpoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </div>
  <div class="form-group">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="form-group">
    <%= f.label :image%><br>
    <%= f.text_field :image%>
  </div>
  <div class="form-group">
    <%= f.label :description%><br>
    <%= f.text_field :description%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
</div>
