<div class="page-header">
	<ul class="list-inline">
		<li><%= link_to 'Show', @cpoint, class:"btn btn-default" %></li>
		<li><%= link_to 'Back', cpoints_path, class:"btn btn-default" %></li>
	</ul>
</div>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
<h1>Editing Cpoint</h1>
		<%= render 'form' %>
	</div>
</div>	

