<p id="notice"><%= notice %></p>
<div class="page-header">
<%= link_to 'New Cpoint', new_cpoint_path, class: "btn btn-success pull-right" %>
<h1>Listing Cpoints<br> <small>for mode editor</small></h1>
</div>
<div class="row">
	<% @cpoints.each do |cpoint| %>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
<table class="table table-bordered table-striped table-hover table-condensed">
<tr style="margin-left:auto;margin-right:auto;display:block;"><td style="margin-left:auto;margin-right:auto;" >
		<h2><%= cpoint.caption %></h2> <small style="text-align:right;"><%= cpoint.code.ceil.to_s unless cpoint.code.nil? %></small>
		<img class="img-responsive" src=<%=asset_path cpoint.image%>/>
		<p><%= cpoint.description %></p>
		<%= link_to 'Show', cpoint, class: "btn btn-primary" %>
		<%= link_to 'Edit', edit_cpoint_path(cpoint), class: "btn btn-success" %>
		<%= link_to 'Modes', cpoint_cpmodes_path(cpoint), class:"btn btn-default" %>
</td></tr>
		</table>
	</div>
	<% end %>
	<hr>
	<br><br>
	<h3>Control points</h3>
<table class="table table-stripped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Caption</th>
      <th>Image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cpoints.each do |cpoint| %>
      <tr>
        <td><%= cpoint.caption %></td>
        <td><%= cpoint.image %></td>
        <td><%= cpoint.description%></td>
        <td><%= link_to 'Show', cpoint, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_cpoint_path(cpoint), class: "btn btn-success" %>
        <td><%= link_to 'Destroy', cpoint, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

