<div class="page-header">
	<ul class="list-inline pull-right">
		<li><%= link_to 'Edit', edit_cpoint_path(@cpoint), class:"btn btn-warning" %></li>
		<li><%= link_to 'Back', cpoints_path, class:"btn btn-default" %></li>
		<li><%= link_to 'Modes', cpoint_cpmodes_path(@cpoint), class:"btn btn-default" %></li>
	</ul>
	<h3><%= @cpoint.caption %></h3>
</div>

<% if notice %>
	<div class="alert alert-info">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>

<table class="table table-bordered">
	<tr>
		<td><strong>Caption:</strong></td>
		<td><%= @cpoint.caption %></td>
	</tr>
	<tr>
		<td>Modes image:</td>
		<td><%= @cpoint.image %></td>
		<td><img class="img-responsive" src=<%=asset_path @cpoint.image%>/></td>
	</tr>
	<tr>
		<td>Description:</td>
		<td><%= @cpoint.description %></td>
	</tr>

</table>


